@page
@model AccountsModel
@{
    ViewData["Title"] = "Account";
}

<div style="flex: 1;">
<!-- Application page -->
    <div class="column-container">
        <div class="app-container">
            <h3>Your balance</h3>
            <div class="balance">$100.00</div>
        </div>
    </div>
</div>
