@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div style="flex: 1;">
    <div class="column-container">
        <div class="content-container">
            <div style="margin-bottom: 100px;">
                <h1>Welcome to Changebank</h1>
                @if (User.Identity != null && User.Identity.IsAuthenticated == true)
                {
                    <p>To get started, please select from the menu.</p>
                }
                else
                {
                    <p>To get started, <a href="/Account">log in or create a new account</a>.</p>
                }
            </div>
        </div>
        <div style="flex: 0;">
            <img src="~/img/money.jpg" style="max-width: 800px;"/>
        </div>
    </div>
</div>