@page
@model Pages.MakeChangeModel
@{
}

<div style="flex: 1;">
    <div class="column-container">
        <div class="app-container change-container">
            <h3>We Make Change</h3>
            <div class="change-message">
                @Model.Message
            </div>
            <form method="post">
                <div class="h-row">
                    <div class="change-label">Amount in USD: $</div>
                    <input class="change-input" name="amount" value="@Model.Amount"  />
                    <input class="change-submit" type="submit" value="Make Change" />
                </div>
            </form>
        </div>
    </div>
</div>


